NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# AWS S3 Bucket Configuration
X_AWS_REGION=
X_AWS_ACCESS_KEY_ID=
X_AWS_SECRET_ACCESS_KEY=
X_AWS_BUCKET_NAME=

# MongoDB Configuration
MONGODB_DB_NAME=
MONGODB_URL=

ANTHROPIC_API_KEY=
